/**
 * @name Animations
 * @version 0.0.0
 * @author Bas
 * @authorId 638718909297590274
 * @description Animations for tabs for RoundDiscord, unfinished.
 * @invite 8xRmBPH
**/

@keyframes rotate360 {
  to {
    transform: rotate(360deg);
  }
}
.container-3baos1 .button-14-BFJ:last-child:hover svg {
  animation: rotate360 2s infinite linear;
}

@keyframes pulsingBackground {
  0% {
    background-color: var(--background-modifier-selected);
  }
  25% {
    background-color: var(--background-modifier-selected);
    opacity: 100%;
  }
  50% {
    background-color: var(--background-modifier-selected);
    opacity: 25%;
  }
  75% {
    background-color: var(--background-modifier-selected);
    opacity: 100%;
  }
  100% {
    background-color: var(--background-modifier-selected);
  }
}

.wrapper-2jXpOf .name-23GUGE,
.wrapper-2jXpOf .actionIcon-PgcMM2 {
  transition: color 0.2s;
  border-radius: 25px;
}
.wrapper-2jXpOf .mainContent-u_9PKf:before {
  transition: width 0.5s;
  position: absolute;
  animation-name: pulsingBackground;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  width: 0%;
  border-radius: 25px;
}
.wrapper-2jXpOf.modeConnected-3IsKId,
.wrapper-2jXpOf.modeSelected-346R90,
.wrapper-2jXpOf:hover {
  box-shadow: 0 1px var(--color-low), 0 -1px var(--color-low);
  border-radius: 25px;
}
.wrapper-2jXpOf.modeConnected-3IsKId .mainContent-u_9PKf:before,
.wrapper-2jXpOf.modeSelected-346R90 .mainContent-u_9PKf:before,
.wrapper-2jXpOf:hover .mainContent-u_9PKf:before {
  border-radius: 25px;
  width: 100%;
}
.wrapper-2jXpOf.modeConnected-3IsKId,
.wrapper-2jXpOf.modeSelected-346R90 .icon-1DeIlz,
.wrapper-2jXpOf:hover .icon-1DeIlz {
  border-radius: 25px;
  color: white;
  background-color: var(--color-high);
}

.container-2Pjhx- {
  transition: color 0.5s;
  max-width: none;
  border-radius: 25px;
  height: 44px;
  margin: 5px 0px 5px 5px;
}
.container-2Pjhx- .layout-2DM8Md {
  background-color: transparent !important;
  height: 36px;
  margin: 3px 0px 5px 5px;
  border-radius: 25px;
  top: 0px;
  bottom: 0px;
}
.container-2Pjhx- .layout-2DM8Md:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  bottom: 0px;
  transition: width 0.5s;
  animation-name: pulsingBackground;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  border-radius: 25px;
  width: 0%;
}
.container-2Pjhx-.selected-aXhQR6,
.container-2Pjhx-:hover {
  color: white;
  background-color: #34373c;
  border-radius: 25px;
  box-shadow: 0 1px var(--color-low), 0 -1px var(--color-low);
}
.container-2Pjhx-.selected-aXhQR6 .name-uJV0GL span,
.container-2Pjhx-.selected-aXhQR6 .activity-2Gy-9S,
.container-2Pjhx-.selected-aXhQR6 .muted-3mU76i,
.container-2Pjhx-:hover .name-uJV0GL span,
.container-2Pjhx-:hover .activity-2Gy-9S,
.container-2Pjhx-:hover .muted-3mU76i {
  color: white;
}
.container-2Pjhx-.selected-aXhQR6 .layout-2DM8Md:before,
.container-2Pjhx-:hover .layout-2DM8Md:before {
  width: 100%;
}
.container-2Pjhx-.selected-aXhQR6 .linkButtonIcon-Mlm5d6,
.container-2Pjhx-.selected-aXhQR6 .content-3QAtGj,
.container-2Pjhx-:hover .linkButtonIcon-Mlm5d6,
.container-2Pjhx-:hover .content-3QAtGj {
  z-index: 1;
}
