/**
 * @name RoundDiscord
 * @version 1.0.5
 * @author Bas
 * @description Discord but it's all round.
 * @invite 8xRmBPH
**/

@import url("https://bas3625.github.io/bas3625/Source.css");

:root {
  --customFont: "Varela Round";
}

#app-mount .info-1VyQPT::before {
  content: "RoundDiscord v1.0.5";
  color: var(--text-muted);
  font-size: 12px;
  line-height: 16px;
}
