  /**
 * @name Round Discord
 * @version 1.0.1
 * @author Bas
 * @description Discord but it's all round.
 * @invite 8xRmBPH
**/

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url("https://jaywilson7.github.io/BorderShapes/Source/BorderShapes.css");
@import url('https://codedotspectra.github.io/themes/mini-themes/settingsIcons.css');


:root {
   --borders-buttons-1: 20px;
   --borders-buttons-2: 20px;
   --borders-buttons-3: 20px;
   --borders-buttons-4: 20px;
   --borders-buttons-5: 20px;
   --borders-buttons-6: 25px;
   --borders-switches: 15px;
   --borders-checkboxes-1: 15px;
   --borders-checkboxes-2: 10px;
   --borders-slider-bars: 5px;
   --borders-slider-grabbers-1: 8px;
   --borders-slider-grabbers-2: 5px;
   --borders-progress-bars: 5px;
   --borders-inputs: 25px;
   --borders-contexts: 25px;
   --borders-popouts: 25px;
   --borders-modals: 25px;
   --borders-servers-1: 50%;
   --borders-servers-2: 25px;
   --borders-servers-3: 15px;
   --borders-server-badges: 10px;
   --borders-server-pill: 5px;
   --borders-unreads: 5px;
   --borders-avatars-1: 40px;
   --borders-avatars-2: 20px;
   --borders-avatars-3: 60px;
   --borders-avatars-4: 150px;
   --borders-status-width: 4px;
   --user-status-width-small: 2px;
   --user-status-width-large: 3px;
   --borders-status-spacing: 0px;
   --background-opacity-mobile: 0.5;
   --background-opacity-typing: 0.5;
   --borders-sidebar-and-notices: 0px;
   --borders-cards: 25px;
   --borders-banners: 25px;
   --borders-previews: 25px;
   --borders-users-in-calls: 25px;
   --borders-activities-1: 45px;
   --borders-activities-2: 30px;
   --borders-activities-badge-1: 20px;
   --borders-activities-badge-2: 12px;
   --borders-icons-1: 25px;
   --borders-icons-2: 10px;
   --borders-icons-3: 5px;
   --borders-icons-4: 10px;
   --borders-icons-5: 50%;
   --borders-labels-1: 15px;
   --borders-labels-2: 10px;
   --borders-lines: 2px;
   --borders-images-and-gifs: 25px;
   --borders-videos: 25px;
   --borders-audios: 25px;
   --borders-embeds: 25px;
   --borders-reactions: 10px;
   --borders-replies: 15px;
   --borders-mentions: 10px;
   --borders-roles-outlines: 10px;
   --borders-roles-dots: 10px;
   --borders-tags: 10px;
   --borders-format-toolbars: 10px;
   --borders-codes: 10px;
   --borders-spoilers: 10px;
   --borders-quotes: 2px;
   --borders-toasts: 25px;
   --borders-tooltips: 25px;
   --borders-scrollbars: 10px;
   --borders-editors: 20px;
   --borders-color-primary: var(--background-primary);
   --borders-color-secondary: var(--background-secondary);
   --borders-color-tertiary: var(--background-tertiary);
   --borders-color-floating: var(--background-floating);
   --borders-color-special: #000;
   --borders-color-activity: #6c82cf;
   --customFont:"Varela Round"}::-webkit-input-placeholder,body:not([class*=hljs]):not(code):not([class*=ace_]){font-family:var(--customFont)!important}.ace_editor{font:17px/normal Monaco,Menlo,'Ubuntu Mono',Consolas,source-code-pro,monospace!important
}

.app-2rEoOp {
  padding: 10px;
}

.bg-h5JY_x {
  background-color: #23272A;
}

.chat-3bRxxu {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.guilds-1SWlCJ {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.base-3dtUhz {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.platform-win .sidebar-2K8pFh {
  border-radius: 0px;
}

.wordmark-2iDDfm {
  display: none;
    font-size: 16px;
    padding: 0;
    color: white;
}

.wordmark-2iDDfm svg {
  display: none;
  position: absolute;
  height: 17px;
  width: 500px;
  margin-left: -215px;
  margin-top: -23px !important
  }

.wordmark-2iDDfm::before {
  display: none;
    content: "but round";
    display: block;
    height: 17px;
    width: 500px;
    margin: 5px 67px;
}

.wordmark-2iDDfm {
  display: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    padding: 0;
    color: white;
}

.typeWindows-1za-n7{
  height: 20px;
  margin-top: 0px;
  background-image: url('https://cdn.discordapp.com/attachments/653938638782070785/777920334271086602/Discord-Wordmark-Black.png');
  background-position: 2px 3px;
  background-size: 120px 15px;
  background-repeat: no-repeat;
  background-color: #202225;
}

.winButton-iRh8-Z{
  color: white;
  margin-top: 4px;
  margin-right: 1px;
}

.winButton-iRh8-Z:hover{
  color: White;
  margin-top: 4px;
  margin-right: 1px;
}

.winButtonMinMax-PBQ2gm{
  color: #white;
  margin-top: 4px;
  margin-right: 1px;
}

.winButtonMinMax-PBQ2gm:hover{
  color: White;
  margin-top: 4px;
  margin-right: 1px;
}
